html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --amplify-primary-color: #8f8f8f;
  --amplify-primary-tint: #9c9a9a;
  --amplify-primary-shade: #6e6e80;
}
.menuList {
  background-color: rgb(44, 198, 44);
  height: 100%;
  width: 0px;
  transition: all 0.5s;
  position: absolute;
  top: 50px;
  opacity: .95;
  border-right: 1px solid #333;
  padding-top: 30px;
}

.menuList-tooggle {
  background-color: greenred;
  width: 300px;
  
}

#menuWrapper {
  width: 50px;
  height: 50px;
  background: rgb(0, 180, 0);
  box-shadow: 0 1px 5pxƒ rgba(0, 0, 0, 0.8);
  position: absolute;
}

#menuLine-wrapper {
  cursor: pointer;
  width: 18.6px;
  height: 11.6px;
  position: relative;
  top: 17.5px;
  left: 15.6px;
}

.hambugDiv ul {
  margin: 10px 20px;
  padding: 0;
  list-style: none;
}
.hambugDiv ul li {
  padding: 5px 5px;
  /* border-bottom: 2px dotted rgb(9, 116, 32); */
}
.hambugDiv ul li a {
  color: #333;
  text-decoration: none;
}

/* 추가된 부분 */
.init {
  animation: none !important;
}

.line {
  background: #ffffff;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 18.6px;
  height: 2.3px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* 추가된 부분 */
.line-top {
  animation: line-top 0.5s forwards ease-out,
    line-top-rotate 0.3s 0.5s forwards ease-out;
}
.line-top-b {
  animation: line-top-rotate-b 0.5s forwards ease-out;
}

.line-mid {
  animation: line-mid 0.5s forwards ease-out;
}
.line-mid-b {
  animation: line-mid-b 0.5s forwards ease-out;
}

/* 추가된 부분 */
.line-bot {
  animation: line-bot 0.5s forwards ease-out,
    line-bot-rotate 0.3s 0.5s forwards ease-out;
}
.line-bot-b {
  animation: line-bot-rotate-b 0.5s forwards ease-out;
}

@keyframes line-top {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(4.3px);
  }
}
@keyframes line-top-b {
  0% {
    transform: translateY(4.3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes line-mid {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes line-mid-b {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes line-bot {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4.3px);
  }
}
@keyframes line-bot-b {
  0% {
    transform: translateY(-4.3px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* 추가된 부분 */
@keyframes line-top-rotate {
  0% {
    transform: translateY(4.3px) rotateZ(0deg);
  }
  100% {
    transform: translateY(4.3px) rotateZ(45deg);
  }
}
@keyframes line-top-rotate-b {
  0% {
    transform: translateY(4.3px) rotateZ(45deg);
  }
  100% {
    transform: translateY(0px) rotateZ(0deg);
  }
}
/* 추가된 부분 */
@keyframes line-bot-rotate {
  0% {
    transform: translateY(-4.3px) rotateZ(0deg);
  }
  100% {
    transform: translateY(-4.3px) rotateZ(135deg);
  }
}
@keyframes line-bot-rotate-b {
  0% {
    transform: translateY(-4.3px) rotateZ(135deg);
  }
  100% {
    transform: translateY(0px) rotateZ(180deg);
  }
}
